.search-input{
    color: var(--blue-color);
    box-shadow: 0 8px 32px 0 rgba(10, 18, 133, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1rem;
}
.input__container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg{
        color: white;
        font-size: 3.4rem;
        margin: .5rem;
        font-weight: bold;
        cursor: pointer;
    }
}
.input__options ul{
    box-shadow: 0 8px 32px 0 rgba(10, 18, 133, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius:0 0 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1rem;
    list-style: none;
    background-color: white;
    font-size: 2.0rem;
    transition: all .5s ease;
}
